* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #2d2d2d;
  height: 100vh;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 600px;
  height: 800px;
  background-color: khaki;
  border-radius: 4px;

  padding: 32px;
}

.frame {
  border: 1px solid #484848;
  height: 100%;
}

.container-header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: flex-start;
}

.header-btn {
  font-size: 1.8rem;
  font-family: "Bungee", cursive;
  padding: 16px;
  background: unset;
  border: unset;
  outline: unset;
  cursor: pointer;
}

.header-title {
  font-size: 3.6rem;
  font-family: "Homemade Apple", cursive;
  text-transform: lowercase;
}

.clear {
  color: red;
}

.container-add {
  padding: 16px;
}

.add-form {
  display: flex;
  align-items: flex-start;
}

#add-input {
  background: unset;
  border: unset;
  padding: 0 64px;

  flex: 1;

  border-bottom: 1px solid red;
  outline: unset;

  font-family: "Homemade Apple", cursive;
  font-size: 16px;
  text-transform: lowercase;
}

.add-btn {
  font-size: 1.8rem;
  font-family: "Bungee", cursive;

  padding: 16px;
  padding-right: unset;
  cursor: pointer;

  background: unset;
  border: unset;
  outline: unset;
}

.container-todos {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}

.todo {
  position: relative;
  flex: 1 0 auto;
  text-align: center;
  max-height: 34px;
  margin: 16 0 0;
  font-family: "Homemade Apple", cursive;
  font-size: 24px;

  border-bottom: 1px solid red;
}

.todo-text {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.todo-placeholder-text {
  font-family: "Homemade Apple", cursive;
  font-size: 24px;
  text-align: center;
  padding: 19px;
}

.add-button-placeholder-text {
  font-size: 24px;
  font-family: "Bungee", cursive;
}
